<div class="navbar">
    <div class="logo">
        <img src="{{site.baseurl}}/assets/img/bhlogo.png" alt="Logo">
    </div>
    <input type="checkbox" id="menuToggle">
    <label for="menuToggle" class="button menu-toggle">☰</label>
    <ul class="nav-links">
        <li><a href="{% link accueil.html %}">Accueil</a></li>
        <li><a href="{% link service.html %}">Nos Services</a></li>
        <li><a href="{% link quiSommesNous.html %}">Qui Sommes-nous?</a></li>
        <li><button class="navbutton"><a href="{% link contact.html %}">RÉSERVER MAINTENANT</a></button></li>
    </ul>
</div>
<div class="bannerSell">
    SITE À VENDRE
</div>
