<div id="carousel1" class="carousel1 owl-carousel owl-theme">
  <div class="item">
    <img src="../assets/img/bandeau1.jpg" alt="Accueil" loading="lazy">
  </div>

  <div class="item">
    <img src="../assets/img/bandeau2.jpg" alt="Accueil" loading="lazy">
  </div>

  <div class="item">
    <img src="../assets/img/bandeau3.jpg" alt="Accueil" loading="lazy">
  </div>

  <div class="item">
    <img src="../assets/img/bandeau4.jpg" alt="Accueil" loading="lazy">
  </div>

  <div class="item">
    <img src="../assets/img/bandeau5.jpg" alt="Accueil" loading="lazy">
  </div>

  <div class="item">
    <img src="../assets/img/bandeau6.jpg" alt="Accueil" loading="lazy">
  </div>

  <div class="item">
    <img src="../assets/img/bandeau7.jpg" alt="Accueil" loading="lazy">
  </div>

  <div class="item">
    <img src="../assets/img/bandeau8.jpg" alt="Accueil" loading="lazy">
  </div>

  <div class="item">
    <img src="../assets/img/bandeau9.jpg" alt="Accueil" loading="lazy">
  </div>



</div>

<!-- bandeau de mise en vente -->